
@model PlanoContaModel
@{
    ViewData["Title"] = "Plano de Contas";
     var vDescricao ="";
    var vTipo ="";

    try{

        vDescricao=@ViewBag.Planoconta.Descricao;
        vTipo=@ViewBag.Planoconta.Tipo;
    }
    catch
    {    }
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="PlanoConta" asp-action="CriarPlanoConta">
<input type="hidden" asp-for="Id"><br>

<label for="fname">Descrição:</label> <br>
<input type="text" id="Descricao" asp-for="Descricao" value=@vDescricao><br>

<label for="lname">Tipo:</label><br>
<input type="text" id="Tipo" asp-for="Tipo" value=@vTipo><br>
<br>

<button type="submit" class="btn btn-block btn-success">Registrar</button>

</form>